<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Paola Gutiérrez -Web Design and Front-End Development</title>

  <meta name="description" content="I design, code and freedive">

  <link href="https://fonts.googleapis.com/css?family=Carter+One|Muli:300,300i,400,600,700,800" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Tachyons: A CSS Framework http://tachyons.io/docs/table-of-styles/-->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

  <link rel="stylesheet" href="styles.css"/>
</head>

<body>
  <div id="app">
    <header class="bg-blue white">
      <div class="container">
        <div class="flex justify-between pv2 bb">
          <div class="flex items-center">
            <div class="w3 pr3-ns pr2 flex items-center">
              <img src="assets/whale_fluke.svg" class="db" alt="logo">
            </div>  
            
            <div class="">
              <h1 class="fw8 mb0 mt0 f5">Whaley Design</h1>
              <p class="mb0 f7">By Paola Gutiérrez.</p>
            </div>
          </div>

          <nav>
            <ul class="h-100 flex-ns dn justify-end items-center list mv0">
              <li class="ml3 pl2 ttu tracked f6">
                <a href="#work" class="white" @click.prevent="scroll('work')">Work</a>
              </li>
              
              <li class="ml3 pl2 ttu tracked f6">
                <a href="#about" class="white" @click.prevent="scroll('about')">About</a>
              </li>
              
              <li class="ml3 pl2 ttu tracked f6">
                <a href="/resume" class="white" target="_blank">Resume</a>
              </li>

              <li class="ml3 pl2 ttu tracked f6">
                <a href="mailto:paola.rguti@gmail.com" class="white">Contact</a>
              </li>
            </ul>
          </nav>  
        </div>  
      </div>
    </header>  

    <main>
      <section class="bg-blue white">
        <div class="container pv5 tc">
          <div class="paragraph center pv4-ns">
            <h1 class="mb3">I Design, Code and Freedive.</h1>
            <p class="mb4">Front-end web developer helping companies build effective user interfaces. I love to dive into new challenges and into the blue ocean.</p>
            <a href="" class="btn">Get in touch</a>
          </div>
        </div>
      </section>

      <!-- work -->
      <section class="bg-near-white pb5">
        <img class="w-100 db" src="assets/wave-blue.svg">

        <div id="work" class="container pv4 mv3 tc">
          <h2 class="title lh-title tc mb3 pb2">Work</h2>

          <div class="flex flex-row-ns flex-column justify-center">
            <div class="w-third-ns w-100 ph3-ns mb3 mb0-ns">
              <!-- <i class="fas fa-object-group f2 navy mb2 db"></i> -->
              <img src="assets/web_design.svg" class="w3 db center mb3">
              <h4 class="f5 mb2">UI/UX Design</h4>
              <p class="f6">Clean, effective user interfaces that deliver a pleasant and engaging customer experience.</p>
            </div>

            <div class="w-third-ns w-100 ph3-ns mb3 mb0-ns">
              <img src="assets/coding.svg" class="w3 db center mb3">
              <h4 class="f5 mb2">Web Development</h4>
              <p class="f6">Elegant web apps built on a modern stack following the industry's best practices.</p>
            </div>

            <div class="w-third-ns w-100 ph3-ns mb3 mb0-ns">
              <img src="assets/email_development.svg" class="w3 db center mb3">
              <h4 class="f5 mb2">Email Development</h4>
              <p class="f6">Beautifully designed emails that look and work great across different apps and devices.</p>
            </div>
          </div>
        </div>

        <!-- projects -->
        <div class="container">
          <h3>Recent Projects</h3>
          
          <div id="projects" class="flex items-start">
            <div class="w-40-l pr5-l w-100">
              <div v-for="project in projects" class="mb3 flex items-baseline">
                <input type="radio" :id="project.title" :value="project" v-model="activeProject" class="dn">

                <img src="assets/display.svg" class="w1 dn db-l mr2" :class="{'o-0': project.title !== activeProject.title }">
                  
                <label :for="project.title" class="pointer">
                  <h3 class="mb1 f4 link"
                    :class="{ 'active': project.title === activeProject.title }">
                    {{ project.title }}
                  </h3>

                  <div class="flex flex-wrap mb1 pb2">
                    <div v-for="tag in project.tags" class="bg-light-gray mr1 mb1 pv1 ph2">
                      <p class="mb0 white f7">{{ tag }}</p>
                    </div>  
                  </div>  
                </label>
              </div>
            </div>

            <div v-if="isLargeDevice() || Object.keys(activeProject).length" class="w-60-l flex flex-column fixed absolute--fill static-l bg-black-40 bg-none-l pa2 pa0-l">
              <div class="flex flex-column bg-white pa3 pa0-l h-100 bg-none-l h-auto-l">
                <div class="tr db dn-l">
                  <a href="" @click.prevent="activeProject = {}">
                    <i class="fas fa-times mb1"></i>
                  </a>
                </div>

                <div class="overflow-auto overflow-visible-l">
                  <div class="mb2">
                    <div class="w-100 flex">
                      <div class="w-12_25 relative">
                        <img src="assets/mac_left.png" class="db disabled">
                        <div class="absolute absolute--fill flex items-center h-100 w-100 pointer"
                          :class="{ 'disabled o-40': activeScreen === 0 }"
                          @click="activeScreen = activeScreen - 1">
                          <i class="fas fa-chevron-left link f4"></i>
                        </div>  
                      </div>  
                      
                      <div class="w-75_50">
                        <div class="flex flex-column justify-between h-100">
                          <img src="assets/mac_top.png" class="db disabled">

                          <div class="relative h-100">
                            <transition-group>
                              <img v-for="(screen, i) in activeProject.screens"
                                :key="screen" 
                                :src="'assets/' + screen" 
                                :style="{ 'display': i == activeScreen ? 'block' : 'none' }" 
                                :class="{'o-40': progressBar.opacity === 1}">
                            </transition-group>

                            <div class="absolute top-0 left-0 right-0 z-999">
                              <div id="progressBar" :style="progressBar"></div>
                            </div>  
                          </div>  
       
                          <img src="assets/mac_bottom.png" class="db disabled">
                        </div>  
                      </div>  
                      
                      <div class="w-12_25 relative">
                        <img src="assets/mac_right.png" class="db disabled">
                        <div class="absolute absolute--fill flex justify-end items-center h-100 w-100 pointer"
                          :class="{ 'disabled o-40': activeScreen == activeProject.screens.length - 1 }"
                          @click="activeScreen = activeScreen + 1">
                            <i class="fas fa-chevron-right link f4"></i>
                        </div> 
                      </div>  
                    </div>  
                    <img src="assets/mac_base.png" class="db disabled w-100">
                  </div>

                  <h3 class="mb2 f4">{{ activeProject.title }}</h3>

                  <p>{{ activeProject.description }}</p>

                  <p v-if="activeProject.role" class="mb0">
                    <span class="fw8">My Role: </span>
                    {{ activeProject.role }}
                  </p>
                </div>  
              </div>                
            </div>
          </div>
        </div>
      </section>  

      <!-- testimonial -->
      <section class="bg-half">
        <div class="container">
          <div class="bg-light-blue pv4 ph3 flex items-center justify-center">
            <div class="paragraph center tc">
              <p class="lh-copy">“Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.”</p>

               <img src="https://lh4.googleusercontent.com/-dZvXUfhPfas/AAAAAAAAAAI/AAAAAAAAA6Q/cQMxqyMFrp4/photo.jpg" class="w3 br50 mb1">

              <p class="mb0 fw8">- Jason Lundberg</p>
              <p class="f6 mb0 gray">Co-Founder and CEO, From the Farmer.</p>
            </div>
          </div>  
        </div>
      </section>

      <!-- about -->
      <section id="about">
        <div class="container pv5">
          <h2 class="title lh-title tc mb3 pb2">About</h2>
          <div class="flex flex-row-ns flex-column items-center center ph6-l">
            <div class="w-third-ns w-100 ph0 ph3-ns tc">
              <img src="assets/headshot.jpeg" class="br50 db w4 center w-100-ns mb3 mb0-ns">
            </div>  
            
            <div class="w-two-thirds-ns w-100 ph0 ph3-ns">
              <p>I'm Paola, I love to create simple, clean, effective user experiences all the way from ideation to implementation and constant iteration.</p> 

              <p>I think of the text editor as my ultimate design tool where I can transform ideas into real-life solutions.</p>

              <p class="mb0">When offline, you can find me biking around Medellín, Colombia with my husband or somewhere in the world exploring the ocean on a single breath.</p>
            </div>  
          </div>
        </div> 
      </section> 
    </main>

    <footer class="bg-gray">
      <div class="container tc white">
        <div class="pt5 pb4">
          <h2 class="title lh-title tc mb3 pb2">Get in touch!</h2>

          <p class="f4 mb3">paola.rguti@gmail.com</p>

          <div class="flex justify-center f4">
            <a class="db ba br50 w2 h2 flex justify-center items-center mh1 white" href="https://linkedin.com/in/paolarguti/">
              <i class="fab fa-linkedin-in f6"></i>
            </a>

            <a class="db ba br50 w2 h2 flex justify-center items-center mh1 white" href="mailto:paola.rguti@gmail.com">
              <i class="fas fa-envelope f6"></i>
            </a>  
          </div>  
        </div>  

        <div class="bt b--white pv3">
          <p class="f7 mb0">Handcrafted by me <i class="far fa-copyright"></i> 2019</p>
        </div>  
      </div>  
    </footer>
  </div>  

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        projects: [
          {
            title: 'Dill Platform by From the Farmer',
            description: 'Dill platform leverages From the Farmer’s in-house technology to help other subscription-based companies offer a streamlined signup process, weekly customization and a delivery calendar.',
            role: 'I designed and built the customer interface.',
            tags: ['UI/UX Design', 'Web Development', 'HTML', 'SCSS', 'JS', 'Vue.js'],
            url: '',
            screens: ['project_vb1.png', 'project_vb2.png', 'project_vb3.png', 'project_vb4.png', 'project_vb5.png', 'project_vb6.png'],
            activeScreen: 2
          },

          {
            title: 'From the Farmer',
            description: 'Farm box delivery service in the DC area offering weekly customizable produce boxes on a flexible schedule.',
            role: 'I collaborated with other designers on the look and feel of the site. I built the customer interface as a shopify theme. I designed and built multiple email campaigns.',
            tags: ['UI/UX Design', 'Web Development', 'Email Development', 'HTML', 'SCSS', 'JS', 'Vue.js', 'Liquid Logic', 'Shopify'],
            url: '',
            screens: ['project_ftf1.png', 'project_ftf2.png', 'project_ftf3.png', 'project_ftf4.png', 'project_ftf5.png', 'project_ftf6.png'],
            activeScreen: 0
          },

          {
            title: 'Retirement Fail',
            description: 'Book on retirement planning by Greg Sullivan.',
            role: 'I designed and built a static website for the book release.',
            tags: ['UI/UX Design', 'Web Development', 'HTML', 'CSS'],
            services: 'UI/UX Design • Web Development • Email Development',
            url: '',
            screens: ['project_rf1.png', 'project_rf2.png', 'project_rf3.png', 'project_rf4.png'],
            activeScreen: 0
          },

          {
            title: 'Listening Crowd',
            description: 'A podcast crowd annotation tool.',
            role: 'I designed the look and feel as well as wrote the markup of the app.',
            tags: ['UI/UX Design', 'Web Development', 'HTML', 'SCSS'],
            services: 'UI/UX Design • Web Development',
            url: '',
            screens: ['project_lc1.png', 'project_lc2.png', 'project_lc3.png'],
            activeScreen: 1
          },

          {
            title: 'Nirvana Oceanquest',
            description: 'A freediving depth competition.',
            role: 'I designed and built a static website to promote the competition.',
            tags: ['UI/UX Design', 'Web Development', 'HTML', 'CSS'],
            services: 'UI/UX Design • Web Development',
            url: '',
            screens: ['project_noq1.png', 'project_noq2.png', 'project_noq3.png'],
            activeScreen: 0
          },
        ],

        activeProject: {},

        activeScreen: 0,

        progressBar: {
          opacity: 0,
          width: '0%'
        }
      },

      watch: {
        activeProject: function(newProject, oldProject) {
          this.progressBar.width = '0%';
          this.progressBar.opacity = 1; 
          
          this.activeScreen = newProject.activeScreen;
          
          var self = this;
          
          setTimeout(function() {
            self.progressBar.width = '100%';
          }, 100);

          setTimeout(function() {
            self.progressBar.opacity = 0;
            self.progressBar.width = '0%';
          }, 1000);
          
        }
      },

      methods: {
        isLargeDevice: function() {
          if (window.matchMedia("(min-width: 769px)").matches) { 
            return true;
          } else {
            return false;
          }
        },

        scroll: function(id) {
          document.getElementById(id).scrollIntoView({ 
            behavior: 'smooth',
            block: "start" 
          });
        },
      },

      created: function() {
        if (this.isLargeDevice()) {
          this.activeProject = this.projects[0];
        }
      }
    });
  </script>
</body>
</html>
