/*** GLOBAL SETTINGS ***/
html {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 1.414;
  color: #051c2c;
  font-weight: 300;
}

p { margin-top: 0; }

a, 
.link {
  color: #408a97;
  text-decoration: none;
}

.link.active {
  color: #295860;
}

h1, 
.title {
  font-family: 'Carter One';
}

h2, h3, h4 {
  margin-top: 0;
  font-weight: 800;
}

/*** TACHYONS OVERWRITE ***/
.tracked { letter-spacing: 0.0275em; }

.bg-blue { background-color: #0e5172; }

.bg-light-blue { background-color: #e5f4fc }

.gray { color: #758b9f; }

.navy { color: #042b46; }

.b--navy { border-color: #042b46; }

/*** HELPERS ***/
.container {
  width: 1200px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  width: 600px;
  max-width: 100%;
}

.btn {
  padding: 0.5em 1em;
  background-color: #408a97;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  text-decoration: none;
  letter-spacing: 0.0414em;
  display: inline-block;
}

.bg-primary { background-color: #f8f8f7; }

.br50 { border-radius: 50%; }

.flip-x {
  transform: scaleX(-1.1)
}

.disabled {
  pointer-events: none;
}

/*** INDEX STYLES ***/
.w-12_25 {
  width: 12.25%;
}

.w-75_50 {
  width: 75.50%;
}

#progressBar {
  height: 0.25rem;
  background: #0e5172;
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.bg-halfblue {
  background-color: transparent;
  background:    -moz-linear-gradient(top, #f8f8f7 0%, #f8f8f7 38%, #a6cee7 38%, #a6cee7 100%); 
  background: -webkit-linear-gradient(top, #f8f8f7 0%, #f8f8f7 38%, #a6cee7 38%, #a6cee7 100%); 
  background:         linear-gradient(to bottom, #f8f8f7 0%, #f8f8f7 38%, #a6cee7 38%, #a6cee7 100%);
}

/*** RESUME STYLES ***/
main[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

/*** TABLET AND DESKTOP ***/
@media screen and (min-width: 30em) {
  .bg-primary-ns {
    background-color: #f8f8f7;
  }
}

/*** PRINT ***/
@page { margin: 0; }

@media print {
  html, body, main[size="A4"] { height: auto; }
  
  .dn-print { display: none; }
  
  /*extend tachyons' tablet/desktop styles*/
  .flex-row-ns { flex-direction: row; }
  
  .order-1-ns { order: 1; }
  
  .order-2-ns { order: 2; }
  
  .w-third-ns { width: 33.33%; }
  
  .w-two-thirds-ns { width: 66.66%; }
}