/*** GLOBAL SETTINGS ***/
html {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 1.414;
  color: #051c2c;
  font-weight: 300;
}

p { margin-top: 0; }

a, 
.link {
  color: #59aab9;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  text-decoration: none;
}

a:hover, 
.link:hover,
.link.active {
  color: #408a97;
}

a.white:hover {
  color: #fff;
}
}

h1, 
.title {
  font-family: 'Carter One';
  font-weight: 400;
}

h2, h3, h4 {
  margin-top: 0;
  font-weight: 800;
}

/*** TACHYONS OVERWRITE ***/
/*type scale*/
h1, .f1 { font-size: 2.441rem; }

h2, .f2 { font-size: 1.953rem; }

h3, .f3 { font-size: 1.563rem; }

h4, .f4 { font-size: 1.25rem; }

.f6 { font-size: 0.8rem; }

.f7 { font-size: 0.64rem; }

.tracked { letter-spacing: 0.0275em; }

.black { color: #051c2c; }

.bg-blue { background-color: #0e5172; }

.bg-light-blue { background-color: #e5f4fc }

.gray { color: #758b9f; }

.navy { color: #042b46; }

.b--navy { border-color: #042b46; }

.bg-gray { background-color: #758b9f; }

.bg-light-gray { background-color: #a3b2bf; }

.bg-near-white { background-color: #f8f8f7; }


/*** HELPERS ***/
.container {
  width: 1200px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  width: 600px;
  max-width: 100%;
}
.btn {
  padding: 0.5em 1em;
  background-color: #59aab9;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 6px 7px -7px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  letter-spacing: 0.0325em;
  display: inline-block;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.btn:hover {
  box-shadow: none;
}

.btn:active {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
  text-shadow: none;
}

.btn:hover,
.btn:active {
  color: #fff;
  background: #408a97;

}

.br50 { border-radius: 50%; }

.flip-x {
  transform: scaleX(-1)
}

.disabled {
  pointer-events: none;
}

/*** INDEX STYLES ***/
.w-12_25 {
  width: 12.25%;
}

.w-75_50 {
  width: 75.50%;
}

#progressBar {
  height: 0.25rem;
  background: #0e5172;
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.bg-half {
  background-color: transparent;
  background:    -moz-linear-gradient(top, #f8f8f7 0%, #f8f8f7 38%, #ffffff 38%, #ffffff 100%); 
  background: -webkit-linear-gradient(top, #f8f8f7 0%, #f8f8f7 38%, #ffffff 38%, #ffffff 100%); 
  background:         linear-gradient(to bottom, #f8f8f7 0%, #f8f8f7 38%, #ffffff 38%, #ffffff 100%);
}

/*** RESUME STYLES ***/
main[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

/*** DESKTOP ***/
@media screen and (min-width: 60em) {
  .bg-none-l {
    background: none;
  } 
}

/*** TABLET AND DESKTOP ***/
@media screen and (min-width: 30em) {
  .bg-near-white-ns { background-color: #f8f8f7; }
}

/*** PRINT ***/
@page { margin: 0; }

@media print {
  html, body, main[size="A4"] { height: auto; }
  
  .dn-print { display: none; }
  
  /*extend tachyons' tablet/desktop styles*/
  .flex-row-ns { flex-direction: row; }
  
  .order-1-ns { order: 1; }
  
  .order-2-ns { order: 2; }
  
  .w-third-ns { width: 33.33%; }
  
  .w-two-thirds-ns { width: 66.66%; }
}